{% extends "lab_8/layout/base.html" %}
{% block content %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <section name="Facebook">
    <div id="lab8" class="container" style="text-align: center;">
    <h1 id="LoginButton" style="margin-top: 100px; text-align: center;"><b>Hello and Welcome!</b></h1>
        <button class="loginBtn loginBtn--facebook" onclick="facebookLogin()" style="">Login with Facebook</button>
    </div>
    </section>
{% endblock %}

