{% extends "lab_4/layout/base.html" %}

{% block content %}
<div align="center">
<body background="https://farm5.staticflickr.com/4408/36615942074_3b8b101b3f_k_d.jpg">
<h1 style="font-size: 300%; font-family: Gill Sans; color: White";> HELLO FZ's PORTOFOLIO</h1>
</div>
<img src = "https://pbs.twimg.com/profile_images/846660695496175618/FKe-V4zH_400x400.jpg" alt = "image" style="border-radius: 50%; 100px; display: block; margin: 0 auto" />
<div align="center">
<h1 style="font-size: 150%; font-family: Gill Sans; color: White;">This is me!</h1>
</div>
<hr/>
<div align="center">
<section name="bio">
    <h2 style="font-size: 200%; font-family: Gill Sans; color: White;">Bio</h2>
    <p style="font-size: 150%; font-family: Gill Sans; color: White;">
        {{content}}
    </p>    
</section>
</div>
<hr/>
<div align="center">
<section name="about_me">
    <h2 style="font-size: 200%; font-family: Gill Sans; color: White;">About Me</h2>
    <ul style="font-size: 150%; font-family: Gill Sans; color: White;">
        <div align="left">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
        </div>
    </ul>
</section>
</div>
<hr/>
<div align="center">
<section name="form">
    <h2 style="font-size: 200%; font-family: Gill Sans; color: White;">Send Message</h2>
    <form style="font-size: 120%; font-family: Gill Sans; color: Black;" id="form" method="POST" action="{% url 'lab-4:message_post' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
</div>
</body>

{% endblock %}
