{% extends "lab_6/layout/base.html" %}
{% block content %}
  <!-- ChatBox Section -->
  <section name="Chatbox">
     <div class="wrapper">
        <div class="chat-box">
           <div class="chat-head">
              <h2>Chat</h2>
              <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
           </div>
           <div class="chat-body">
              <div class="msg-insert">
              </div>
              <div class="chat-text">
                 <textarea placeholder="Press Enter"></textarea>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!-- Theme Section -->
      <section name="Themes">
        <div class="container">
          <h4 id="theme" style="margin-top: 100px"><b>Themes:</b></h4>
          <select class="my-select" name="theme">
            <!-- <option value="1">Red</option> -->
          </select>
          <div id="hasil"><p></p></div>
          <button class="apply-button"><b>APPLY</b></button>
        </div>
      </section>

{% endblock %}
